nav {
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}


a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

a.active {
    background-color: #555;
    border-radius: 4px;
    color: white;
}